# Kod realizujący funkcjonalność uporządkowania danych z pliku 'billboard.csv'

Importowanie niezbędnych bibliotek:

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Wczytanie danych i wyświetlenie pierwszych pięciu rekordów:

In [2]:
billboard = pd.read_csv("../OrginalData/billboard.csv")
billboard.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Utworzenie nowej tabeli z danymi w sposób uporządkowany:

In [3]:
row, col = billboard.shape
new_tab = pd.DataFrame(columns=['artist', 'track', 'time', 'genre', 'date_entered', 'date_peaked', 'num_week', 'place'])
new_tab
for i in range(row):
    for j in range (7, col):
        if np.isnan(billboard.iloc[i][j]):
            continue
        else:
            new_tab.loc[new_tab.shape[0], :] = [billboard.iloc[i][1], billboard.iloc[i][2], billboard.iloc[i][3], billboard.iloc[i][4],billboard.iloc[i][5], billboard.iloc[i][6], j - 6, billboard.iloc[i][j]]

Sprawdzenie rezultatów:

In [4]:
new_tab.head()

,artist,track,time,genre,date_entered,date_peaked,num_week,place
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78
1,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,2,63.0
2,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,3,49.0
3,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,4,33.0
4,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,5,23.0

In [5]:
new_tab.tail()

,artist,track,time,genre,date_entered,date_peaked,num_week,place
5302,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,1,99
5303,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,2,99.0
5304,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,1,99
5305,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,2,99.0
5306,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,1,99

Zapis do plików przetworzonych danych:

In [ ]:
new_tab.to_csv('../AnalysisData/tidy_billboard1.csv')
new_tab.to_excel('../AnalysisData/tidy_billboard1.xlsx')

Alternatywny sposób wykonany na próbę:

In [24]:
# Nadajemy nowe nazwy kolumn:
lst = [i for i in range(1,77)]
new_col = ['year', 'artist', 'track', 'time', 'genre', 'date_entered', 'date_peaked'] + lst
billboard.columns = new_col

# Przekształcamy tabele za pomocą funkcji melt aby była krótsza: gdzie n - to jest nowo powstała tablica już przkształcona
n = billboard.melt(id_vars=['year','artist', 'track', 'time', 'genre', 'date_entered', 'date_peaked'], var_name='num_week', value_name='place')

# Wyrzucamy kolumnę year:
n = n.drop('year', axis=1)
n = n.sort_index()

# Pońższe operacje mają na celu wykrycie indeksu wiersza od którego chcemy zacząć usówać wiersze z wartościami NaN:

index_to_drop = []
i = 0 # iterator dla wierszy wykorzystywany w pętli
num_col = n.shape[1] - 1 # iterator ostatniej kolumny
while i < n.shape[0]:
    if np.isnan(n.iloc[i][7]):
        index_to_drop.append(i)

    i += 1

n = n.drop(index_to_drop, axis=0)
n = n.sort_values(by=['artist', 'num_week'])
n.index = [i for i in range(1,n.shape[0] + 1)]

Sprawdzenie:

In [25]:
n.head()

,artist,track,time,genre,date_entered,date_peaked,num_week,place
1,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,1,87.0
2,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,2,82.0
3,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,3,72.0
4,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,4,77.0
5,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2000-02-26,2000-03-11,5,87.0

In [26]:
n.tail()

,artist,track,time,genre,date_entered,date_peaked,num_week,place
5303,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,35,33.0
5304,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,36,37.0
5305,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,37,38.0
5306,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,38,38.0
5307,matchbox twenty,Bent,4:12,Rock,2000-04-29,2000-07-22,39,48.0